<%- include('../components/header.ejs') %> <%-
include('../components/navbar.ejs') %>
<main>
  <section class="py-10">
    <div
      class="flex flex-col justify-center gap-10 md:flex-col lg:flex-row xl:flex-row"
    >
      <div class="max-h-screen basis-2/4">
        <%if(isAuthenticated){ %>
        <div class="mb-3 flex gap-3 bg-white px-6 py-5 shadow-mdw">
          <div class="w-full">
            <!-- post forms -->
            <%- include('../components/post-form') %>
          </div>
        </div>
        <% } %>
        <!-- post -->
        <div class="post-container">
          <% if(posts.length > 0) {%>
          <!-- loop through forms -->
          <% for(let post of posts) {%>
          <!-- post items -->
          <%- include('../components/post', {post: post}) %> <% } %>
          <!-- end of loop -->
          <% } else { %>
          <h1 class="text-2xl">No Post found</h1>
          <% } %>
        </div>

        <!-- Pagination controls -->
        <%- include('../components/pagination', {pagination: pagination}) %>
      </div>
    </div>
  </section>
</main>
<%- include('../components/footer.ejs') %>
